{{set root='.'}}
<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>사이퍼즈!</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="{{root}}/apple-touch-icon.png">
	<link rel="stylesheet" href="{{root}}/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{root}}/css/main.css">
	<script src="{{root}}/plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="hp-container">
	<header id="main-box">
		<div id="main-bar">
			<div class="main-menu">
				<ul id="main-left">
					<li>새소식</li>
					<li>게임정보</li>
					<li>리그/랭킹</li>
				</ul>
				<ul id="main-logo">
					<li>C</li>
					<li>yPHERS</li>
				</ul>
				<ul id="main-right">
					<li>커뮤니티</li>
					<li>자료실</li>
					<li>고객센터</li>
				</ul>
			</div>
		</div>
	<div class="head-content">
		<div id="head-banner">
			<div class="game-starter">
			</div>
			<div class="tabs-check">
				<ul class="login-company select select-tab">
					<li company="cy" class="active">사이푸스</li>
					<li company="nex">넥손손</li>
					<li company="dun">건전함</li>
				</ul>
				<div id="login">
					<div class="login-box">
						<ul class="login-detail">
							<li><input type="text" class="login-id" maxlength="64" placeholder="아이디"></li>
							<li><input type="text" class="login-pass"  maxlength="64" placeholder="비밀번호"></li>
						</ul>
						<ul class="login-btn">
							<li><input type="button" style="width: 88px;height: 50px" value="로그인"></li>
						</ul>
					</div>
					<div class="checkbox">
						<ul>
							<li><input type="checkbox" style="margin-left: 20px" id="id-save"> <label class="id-save" for="id-save">아이디 저장</label></li>
							<li><input type="checkbox" style="margin-left: 7px" id="key-se"> <label class="key-se" for="key-se">키보드 보안</label></li>
						</ul>
					</div>
					<ul class="line">

					</ul>
					<ul class="sub-box">
						<li><input type="button" style="width: 100px;height: 26px; font-size: 10px" value="회원가입"></li>
						<li><input type="button" style="width: auto;height: 26px; font-size: 8px" value="아이디|비밀번호찾기"></li>
					</ul>
				</div>
			</div>
			<div class="img-slide"><!--이벤트 이미지 슬라이드-->
				<span>루이스 이벤트!| 12/22점검 후 ~ 1/19 점검 전</span>
				<ul id="btn-box">
					<li>1</li>
					<li>/</li>
					<li>8</li>
					<li class="prev-btn"></li>
					<li class="next-btn"></li>
					<li class="pause-btn"></li>
				</ul>
			</div>
		</div>
		<div id="banner-horizon">
			<img src="../img/fishing.png">
		</div>
	</div>
	</header>
	<!--본문 시작-->
	<div class="container">
		<div class="left-top-banner">
			<div class="magazine-img">

			</div>
			<div id="event-issue-box">
				<div id="img-box-wrap">
					<div class="issue-img">

					</div>
					<div class="event-btn-box">
						<div class="control-box">
							<ul class="event-now-all">
								<li>1</li>
								<li>/</li>
								<li>3</li>
							</ul>
							<ul class="event-ctrl-btn">
								<li class="prev-btn"></li>
								<li class="next-btn"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="main-left-banner">
				<ul id="pc-and-membership">
					<li class="bnr-left"><a href=""><img src="../img/bnr-left.jpg"></a> </li>
					<li class="bnr-right"><a href=""><img src="../img/bnr-right.jpg"></a> </li>
				</ul>
				<ul id="sns-connect">
					<li>사이퍼즈 공식 계정</li>
					<li class="sns-face"><a href=""><img src="../img/btn_sns_fb.gif"></a></li>
					<li class="sns-twit"><a href=""><img src="../img/btn_sns_tw.gif"></a></li>
					<li class="sns-you"><a href=""><img src="../img/btn_sns_yt.gif"></a></li>
				</ul>
				<ul id="coupon-afreeca-app-fog-service">
					<li class="coupon-write">사이퍼즈 쿠폰 입력<i class="fa fa-pencil"></i> </li>
					<li class="afreeca-play">아프리카 티비 방송 보기<i class="fa fa-play-circle-o "></i> </li>
					<li class="app-down">공식 APP 다운로드 <i class="fa fa-download"></i> </li>
					<li class="main-left-fog"><a href=""><img src="../img/bnr_fog.jpg"></a></li>
					<li class="main-left-security">보안센터</li>
					<li class="main-left-cus-serv-cent">고객센터</li>
					<li class="main-left-down">다운로드</li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="content-m">
				<div class="main-mgz">
					<ul class="mgz-title">
						<li>매거진</li>
						<li>더 보기<i class="fa fa-caret-right"></i> </li>
					</ul>
					<div class="mgz-content">
						<div class="cont-l">
							<a href=""><img src="../img/mgz-img01.jpg" style="width: 190px; height: 100px" alt="매거진"></a>
							<ul class="cont-l-box">
								<li class="mgz-con-title">[추가]17H 공식전 랭킹 개편</li>
								<li class="mgz-con-desc">새롭게 변하는 랭킹시스템 'TP'에 대해 알려드립니다.</li>
							</ul>
						</div>
						<div class="cont-r">
							<a href=""><img src="../img/mgz-img02.jpg"style="width: 190px; height: 100px"></a>
							<ul class="cont-r-box">
								<li class="mgz-con-title">쌓이는 보상! 출석빙고 시스템</li>
								<li class="mgz-con-desc">매일매일 접속하고 싶도록~출석보상 시스템이 변경됩니다!</li>
							</ul>
						</div>
						<div class="cont-l">
							<a href=""><img src="../img/mgz-img03.jpg"style="width: 190px; height: 100px"></a>
							<ul class="cont-l-box">
								<li class="mgz-con-title">짤막한 슬리슬리</li>
								<li class="mgz-con-desc">웨맘의 고통</li>
							</ul>
						</div>
						<div class="cont-r">
							<a href=""><img src="../img/mgz-img04.jpg"style="width: 190px; height: 100px"></a>
							<ul class="cont-r-box">
								<li class="mgz-con-title">Daily Dairy</li>
								<li class="mgz-con-desc">겨울이 지나면 내손 가득 찬란한 봄의 싹을 내손에서 피울거야</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="char">
					<ul>
						<li class="char-title">캐릭터</li>
					</ul>
					<div class="char-info-photo">
						<ul>
							<li>옵데이트를 해야 합니다!</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content-r">
				<div class="today-news">
					<ul class="news-title">
						<li>새소식</li>
						<li>더 보기<i class="fa fa-caret-right"></i></li>
					</ul>
					<ul class="news-desc-title">
						<li>[완료] 1월 12일 정기점검 안내</li>
						<li>[3주차 추가] 꿀알바 문화상품권 지급 공지</li>
						<li>맵 디자인 공모전 당선작 발표</li>
						<li>안개정제소 특별 판매 당첨자 발표</li>
						<li>1월 12일 보상 지급 일정 안내</li>
						<li>비매너 이용자 제재 결과 안내(01월 17일)</li>
						<li class="important-news"><b>1월 5일 정기점검 업데이트!~</b><br>공식전 획득 값 변경 안내</li>

					</ul>
				</div>
				<div class="today-cypher">
					<ul class="today-cypher-title">
						<li>오늘의 사이퍼즈</li>
						<li>더 보기<i class="fa fa-caret-right"></i></li>
					</ul>
					<ul class="today-cypher-choice">
						<li class="today-cypher-suggestion"><a href=""><img src="../img/img-gograk.JPG"> (공) 제레온의 정석 -1-</a><div class="nick">[킬작]</div></li>
						<li class="today-cypher-suggestion"><a href=""><img src="../img/img-panart.JPG"> 앨리셔 사랑해^^</a><div class="nick">[례]</div></li>
						<li class="today-cypher-suggestion"><a href=""><img src="../img/img-panart.JPG">나는 호라이즌이 좋아~~</a><div class="nick">[라빵]</li>
						<li class="today-cypher-suggestion"><a href=""><img src="../img/img-panart.JPG">스압주의 그림 모음</a><div class="nick">[깨갱깽깽깽깽깽깽]</li>
						<li class="today-cypher-suggestion"><a href=""><img src="../img/img-panart.JPG">캐럴이랑</a><div class="nick">[수안]</div> </li>
						<li class="today-cypher-suggestion"><a href=""><img src="../img/img-panart.JPG">루드빅 한 장 벨져 한 장</a><div class="nick">[Ludvvig]</div> </li>
						<li class="today-cypher-suggestion"><a href=""><img src="../img/img-cos.JPG">리사 냥이냥이 코스프레</a><div class="nick">[클라이막스]</div> </li>
					</ul>
				</div>
				<div class="good-webtoon-box">
					<ul class="webtoon-box-title">
						<li>새소식</li>
						<li>더 보기<i class="fa fa-caret-right"></i></li>
					</ul>
					<ul class="web-toon-block">
						<li><i class="fa fa-chevron-left"></i><img src="../img/img-OC-inter.png"><i class="fa fa-chevron-right"></i></li>
						<li class="web-toon-usernick">The G |</li>
						<li class="web-toon-title">기자 클리브의 사이퍼 인터뷰</li>
						<li><img src="../img/today-cypher-somenail01.jpg"> </li>
						<li><img src="../img/today-cypher-somenail02.jpg"> </li>
						<li><img src="../img/today-cypher-somenail03.jpg"> </li>
						<li><img src="../img/today-cypher-somenail04.jpg"> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{{> footer jsName='main'}}
