<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>사이퍼즈</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="{{root}}/apple-touch-icon.png">
	<link rel="stylesheet" href="{{root}}/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{root}}/css/{{cssName}}.css">
	<script src="{{root}}/plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="hp-container">
	<header id="main-box">
		<div id="main-bar">
			<div class="main-menu">
				<ul id="main-left">
					<li>새소식</li>
					<li>게임정보</li>
					<li>리그/랭킹</li>
				</ul>
				<ul id="main-logo">
					<li>C</li>
					<li>yPHERS</li>
				</ul>
				<ul id="main-right">
					<li>커뮤니티</li>
					<li>자료실</li>
					<li>고객센터</li>
				</ul>
			</div>
		</div>
		<div class="head-content">
			<div class="game-starter">
				<img src="{{root}}/img/Game_starter.JPG" style="width: 250px; height: 170px">
			</div>
			<div class="starter-next-sub-banner">
				<img src="{{root}}/img/notice-top-ad.jpg">
			</div>
		</div>

	</header>
