{{set root='..'}}
{{> header cssName='article.notice'}}
<div class="main-container">
	<div class="tab-p-snbr">
		{{> login}}
		<div class="sub-banner-notice">
			<div class="notice-menu">
				<img src="{{root}}/img/tit_news.jpg">
				<ul>
					<li>공지사항</li>
					<li>업데이트</li>
					<li>이클립스</li>
					<li class="active">매거진</li>
					<li>이벤트</li>
				</ul>
			</div>
			{{> sub.banner.img}}
		</div>
	</div>
	<div class="tit-new-notice">
		<div class="notice-title-img">
			<img src="{{root}}/img/tit_news_maz.jpg" alt="타이틀">
		</div>
		<div class="post-content">
			<img src="{{root}}/img/img_mgz.jpg" alt="매거진 이미지">
			<div class="board-event">
				<div class="magz-select">
					<select class="tag-search">
						<option value="tit">전체</option>
						<option value="디렉터노트">디렉터노트</option>
						<option value="업데이트">업데이트</option>
						<option value="웹툰">웹툰</option>
						<option value="이벤트">이벤트</option>
						<option value="인터뷰">인터뷰</option>
						<option value="가이드">가이드</option>
						<option value="기타">기타</option>
					</select>
				</div>
				<div class="mag-post">
				<table>
					<colgroup>
						<col width="60%">
						<col width="*">
					</colgroup>
					<thead class="maz-head">
						<tr>
							<th class="mgz-tag">1</th>
							<th class="maz-date">2</th>
						</tr>
					</thead>
					<tbody class="mgz-some-txt">
						<tr>
							<td class="some-event" colspan="2">
								<div class="somenail-event">
									<img src="{{root}}/img/eva-some.png">
								</div>
								<ul  class="con-eve-txt">
									<li>격투가 에바 등장!<br>
										<img src="{{root}}/img/line_event.gif"><br>
										<img src="{{root}}/img/ico_tag.gif">written by 제라딧<br>
										<img src="{{root}}/img/line_event.gif">
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
	{{> footer jsName='article.notice'}}
