{{set root='../..'}}
{{> header cssName='article.notice'}}
<div class="main-container">
	<div class="tab-p-snbr">
		{{> login}}
		<div class="sub-banner-notice">
			<div class="notice-menu">
				<img src="{{root}}/img/tit_news.jpg">
				<ul>
					<li>공지사항</li>
					<li>업데이트</li>
					<li>이클립스</li>
					<li>매거진</li>
					<li class="active">이벤트</li>
				</ul>
			</div>
			{{> sub.banner.img}}
		</div>
	</div>
	<div class="tit-new-notice">
		<div class="notice-title-img">
			<img src="{{root}}/img/tit_news_event.jpg" alt="타이틀">
		</div>
		<div class="post-content">
			<div>
				<img src="{{root}}/img/h_event.jpg" alt="이벤트 이미지">
			</div>
			<div class="event-on-off">
				<ul>
					<li class="event-on"><img src="{{root}}/img/tab_event_ing_on.gif"></li>
					<li><img src="{{root}}/img/tab_faq_divi.jpg"> </li>
					<li class="event-off"><img src="{{root}}/img/tab_event_end_off.gif"></li>
				</ul>
				<ul>
					<li><img src="{{root}}/img/btn_evt_comm.gif"></li>
				</ul>
			</div>
		</div>

	</div>

	{{> footer jsName='article.notice'}}
