{{set root='..'}}
{{> header cssName='game-info'}}
<div class="main-container">
	<div class="tab-p-snbr">
		{{> login}}
		<div class="sub-banner-notice">
			<div class="notice-menu">
				<img src="{{root}}/img/tit_ginfo.jpg">
				<ul>
					<li>세계관</li>
					<li class="active">캐릭터</li>
					<li>게임 가이드</li>
					<li>아이템 박스</li>
				</ul>
			</div>
			{{> sub.banner.img}}
		</div>
	</div>
	<div class="content">
		<div class="notice-title-img">
			<img src="{{root}}/img/tit-ginfo-char.jpg" alt="캐릭터">
		</div>
		<div class="post-content">
			<div class="intro-text">
				<ul>
					<li class="char-txt"><strong>분류 별 보기 |</strong> 내 성향에 맞는 사이퍼를 찾아보세요.</li>
					<li class="char-btn"></li>
				</ul>
			</div>
			<div class="char-list-radio">
				<ul class="char-type">
					<li>
						<dl class="type-of-reach">
							<dt>공격타입</dt>
							<dd><input type="radio" name="reach" checked class="reach"><label for="reach-all">전체</label></dd>
							<dd><input type="radio" name="reach" class="reach"><label for="type-one">근거리</label></dd>
							<dd><input type="radio" name="reach" class="reach"><label for="type-two">원거리</label></dd>
						</dl>
					</li>
					<li>
						<dl class="type-of-char">
							<dt>캐릭 특성</dt>
							<dd><input type="radio" name="char" checked class="typ-char"><label for="char-all">전체</label></dd>
							<dd><input type="radio" name="char" class="typ-char"><label for="char-one">대인</label></dd>
							<dd><input type="radio" name="char" class="typ-char"><label for="char-two">공성</label></dd>
						</dl>
					</li>
					<li>
						<dl class="type-of-ability">
							<dt>특수 능력</dt>
							<dd><input type="radio" name="ability" checked class="ability"><label for="ability-all">전체</label></dd>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-one">기동</label></dd>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-two">방어</label></dd>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-three">무력화</label></dd>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-four">은신</label></dd>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-five">은신감지</label></dd>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-six">슈퍼아머</label></dd><br>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-seven">회복</label></dd>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-eight">강화</label></dd>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-nine">방어무시</label></dd>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-ten">약화</label></dd>
							<dd><input type="radio" name="ability" class="ability"><label for="ability-elev">맵 스캔</label></dd>
						</dl>
					</li>
					<li>
						<dl class="type-of-operation">
							<dt>조작 등급</dt>
							<dd><input type="radio" name="operation" checked class="diff"><label for="operation-all">전체</label></dd>
							<dd><input type="radio" name="operation" class="diff"><label for="operation-one">쉬움</label></dd>
							<dd><input type="radio" name="operation" class="diff"><label for="operation-two">보통</label></dd>
							<dd><input type="radio" name="operation" class="diff"><label for="operation-three">어려움</label></dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="char-list-thum">
				<ul>

				</ul>
			</div>
			<div class="guide-basic">
				<ul>
					<li><img src="{{root}}/img/btn_chrac01.jpg"></li>
					<li><img src="{{root}}/img/btn_chrac02.jpg"></li>
					<li><img src="{{root}}/img/btn_chrac03.jpg"></li>
					<li><img src="{{root}}/img/btn_chrac04.jpg"></li>
				</ul>
			</div>
			<div>
				<img src="{{root}}/img/img_charac1.jpg">
			</div>
		</div>
	</div>
</div>
{{> footer jsName='game-info'}}
